<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013244419811-hscdq6qk3fr89mdn5l0o0bcks8b8gmvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013244419811-hscdq6qk3fr89mdn5l0o0bcks8b8gmvs</string>
	<key>API_KEY</key>
	<string>AIzaSyAyj965KpS7NdHV14_Of4WBZzhn6Q0jY00</string>
	<key>GCM_SENDER_ID</key>
	<string>1013244419811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandureddy.PracticeApplication</string>
	<key>PROJECT_ID</key>
	<string>practiceapplication-ee6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>practiceapplication-ee6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013244419811:ios:b1430199abeb8a889aefd6</string>
	<key>DATABASE_URL</key>
	<string>https://practiceapplication-ee6a7.firebaseio.com</string>
</dict>
</plist>